@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
    background: url("assets/bckgrnd.png");
}

.prettymug {
    border: solid #3b5998;
    max-width: 125px;
    max-height: 125px;
    margin: 30px;
    border-radius: 75px;
    align-content: center;
    margin-left: 42%
}
h1, h2 {
    font-family: 'Montserrat', sans-serif;
    margin: 30px;
}

nav {
    margin: 30px;
}

p {
    margin: 30px;
    font-family: 'Open Sans', sans-serif;
}

h2 {
    font-weight: bolder;
}

footer{
    background-color: #969696;
}

.arrow{
    position: relative;
    bottom: 61px;
    left: 200px
}

.navbutton{
    position: relative;
    left: 80px;
    padding: 15px
}

.grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 50px;
}